
$primary-white-color: #FFFFFF;
$primary-background-color: #2F303A;
$secondary-background-color: #F5F4FA;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$accent-color: #2196F3;
$footer-link-color: rgba(255, 255, 255, 0.6);
$gradient-color: rgba(47, 48, 58, 0.4); 
$selection-color: #AFB1B8; 
$footer-icon-color: rgba(255, 255, 255, 0.1);
$header-border-color: #ECECEC; 
$doings-absolute-color: rgba(47, 48, 58, 0.8);
$examples-overlay-color: rgba(33, 150, 243, 0.9);
$grid-item-border: #EEEEEE;
$backdrop-color: rgba(0, 0, 0, 0.2);
$bezier: cubic-bezier(0.4, 0, 0.2, 1);
$duration: 250ms;

// FONTS

/* roboto-regular - latin */
@font-face {
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 400;
     src: local('Roboto'), local('Roboto-Regular'),
          url('../fonts/roboto-v20-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
          url('../fonts/roboto-v20-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
   }
   /* roboto-500 - latin */
   @font-face {
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 500;
     src: local('Roboto Medium'), local('Roboto-Medium'),
          url('../fonts/roboto-v20-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
          url('../fonts/roboto-v20-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
   }
   /* roboto-700 - latin */
   @font-face {
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 700;
     src: local('Roboto Bold'), local('Roboto-Bold'),
          url('../fonts/roboto-v20-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
          url('../fonts/roboto-v20-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
   }
   /* roboto-900 - latin */
   @font-face {
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 900;
     src: local('Roboto Black'), local('Roboto-Black'),
          url('../fonts/roboto-v20-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
          url('../fonts/roboto-v20-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
   }

   /* raleway-regular - latin */
@font-face {
     font-family: 'Raleway';
     font-style: normal;
     font-weight: 400;
     src: local(''),
          url('../fonts/raleway-v17-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
          url('../fonts/raleway-v17-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
   }
   /* raleway-700 - latin */
   @font-face {
     font-family: 'Raleway';
     font-style: normal;
     font-weight: 700;
     src: local(''),
          url('../fonts/raleway-v17-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
          url('../fonts/raleway-v17-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
   }